<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <%= js_map [{latitude: 37.7829, longitude: -122.4190}] %>
    <script src="/mapkick.bundle.js"></script>
  </body>
</html>
